@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen;

  --common-text-color: rgb(209 213 219);
  --common-semidark-text-color: rgb(160 167 177);
  --common-dark-text-color: rgb(107 114 128);
  --common-text-hover-color: rgb(165 170 179);
  --common-bg-color: rgb(31 41 55);
  --common-dark-bg-color: rgb(17 24 39);
  --common-darker-bg-color: rgb(12 18 30);
  --common-light-bg-color: rgb(55 65 81);

  --common-border-hl-color: rgb(253 227 124);
  --common-border-light-color: rgb(55 65 81);

  --common-btn-bg-color: rgb(55 65 81);
  --common-btn-bg-hover-color: rgb(75 85 99);
  --common-btn-bg-active-color: rgb(17 24 39);

  --common-primary-color: rgb(234 179 8);
  --common-primary-hover-color: rgb(253 224 71);
  --common-primary-text-color: rgb(113 63 18);

  --common-border-color: rgb(17 24 39);
  --sidebar-background-color: rgb(17 24 39);
  --sidebar-text-color: rgb(107 114 128);
  --sidebar-text-color-hover: rgb(156 163 175);
  --sidebar-title-color: rgb(156 163 175);

  --sidebar-user-setting-border-color: rgb(31 41 55);
  --sidebar2-background-color: rgb(31 41 55);
  --sidebar2-item-active-color: rgb(78 73 59);
  --sidebar2-item-hover-color: rgb(209 201 164);

  --editor-text-color: rgb(209 213 219);
  --editor-link-text-color: rgb(251 210 81);
  --editor-quote-text-color: rgb(249 247 193);

  --modal-bg-color: rgb(31 41 55);
  --modal-footer-bg-color: rgb(31 41 55);
  --modal-border-color: white;
  --setting-bg-color: rgb(31 41 55);
  --sign-bg-color: rgb(31 41 55);
  --sign-form-bg-color: rgb(55 65 81);

  --dropdown-bg-color: rgb(251 241 199);
  --dropdown-bg-hover-color: rgb(243 231 183);
  --tag-bg-color: rgb(237 224 167);
  --tag-text-color: rgb(136 130 112);

  --button-border-active-color: rgb(61 64 91);
  --button-text-active-color: rgb(255 255 255);

  color: var(--common-text-color);
  background-color: var(--common-bg-color);
}

#theme-setting {
  color: var(--common-text-color);
  border: 1px solid var(--common-border-light-color);
  height: calc(100vh - 0px);
  overflow: hidden;
}

.header {
  background-color: var(--sign-form-bg-color);
}

.bg {
  background-color: var(--common-bg-color);
}

.bg-primary {
  background-color: var(--common-primary-color);
}

/* .bg-dark {
  background-color: var(--common-dark-bg-color);
} */

.bg-light {
  background-color: var(--common-light-bg-color);
}

.text-color-primary {
  color: var(--common-primary-color);
}

.text-color-base {
  color: var(--common-text-color);
}

.text-color-light {
  color: var(--common-semidark-text-color);
}

.text-color-dark {
  color: var(--common-dark-text-color);
}

.border-bottom {
  border-bottom: 1px solid var(--common-border-light-color);
}

.border-color-base {
  border-color: var(--common-border-light-color);
}

.border-color-dark {
  border-color: var(--common-border-color);
}

.btn-color-base {
  background-color: var(--common-btn-bg-color);
}

.div-y> :not(:first-child) {
  border-top: 1px solid var(--common-border-light-color);
}

.App main {
  @apply flex-grow;
  background-color: var(--common-bg-color);
}

.main-content {
  @apply w-full;
}

.layout-clear .titlebar {
  @apply fixed w-full hover:bg-transparent;
}

::selection {
  @apply bg-indigo-500 text-white;
}

.modal {
  @apply shadow-lg rounded-lg relative text-left overflow-hidden shadow-xl transform transition-all ;
  background-color: var(--modal-bg-color);
  border: 1px solid var(--common-dark-bg-color);
  color: var(--common-text-color);
}

.before-bg-file:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--bg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 0.3s;
}

.before-bg-file:hover:before {
  opacity: 0.1;
}

.event-hover:hover {
  .filter {
    filter: brightness(40%);
  }
  .btn-nft {
    display: block;
  }
  background-color: #585858;
}

.btn-nft {
  width: 70%;
  right: 15%;
  --c: goldenrod;
  color: var(--c);
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  display: none;
}

.btn-nft span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 20%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn-nft:hover {
  color: black;
  cursor: pointer;
}

.btn-nft:hover span {
  transform: translateY(0) scale(2);
}

.btn-nft span:nth-child(1) {
  --n: 1;
}

.btn-nft span:nth-child(2) {
  --n: 2;
}

.btn-nft span:nth-child(3) {
  --n: 3;
}

.btn-nft span:nth-child(4) {
  --n: 4;
}

.rc-pagination {
  position: absolute;
  left: 0;
}

.rc-pagination li button {
  font-size: 22px !important;
  background-color: #fff0 !important;
  border: none !important;
}

.rc-pagination-disabled .rc-pagination-item-link {
  color: #8a8a8a !important;
}

.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}

@import url('./sign.css');
@import url('./form.css');
@import url('./button.css');