/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sign-container {
  @apply flex flex-col items-center justify-center;
  height: calc(100vh - 2px);
  background-color: var(--sign-bg-color);
}

.sign {
  @apply p-8 bg-white shadow-xl w-96 bg-gray-700;
  @apply rounded-lg;
  background-color: var(--sign-form-bg-color);
}

.sign-title {
  @apply text-2xl font-bold;
}

.sign-desc {
  @apply opacity-80 text-sm mt-3;
}

.input-group {
  @apply mt-4;
}

.selected-avatar {
  /* @apply outline-indigo-500; */
  outline-color: var(--common-primary-color) !important;
}

.sign-form input {
  @apply bg-gray-800 border-gray-800;
}

.sign-form a {
  @apply text-yellow-400;
}